reader/reader.rnc

start = section
section = element section { title, body }
title = element title { text }
body = element body { p+ }
p = element p { w+ }
w = element w { pldr, rec, note? }
pldr = element pldr { text }
rec = element rec { text }
note =
    element note {
        mixed { (os | gloss | link | title | q)* }
    }
gloss = element gloss { text }
os = element os { text }
link = element link { xsd:anyURI }
q = element q { text }
