reader/feature-annotation/lexemes/nouns.rnc

start = nouns
nouns = element nouns { noun+ }
noun = element noun { lemma, paradigm, gender, gloss }
lemma =
  attribute lemma {
    xsd:string { pattern = ".+" }
  }
paradigm =
  attribute paradigm {
    "o" | "jo" | "a" | "ja" | "i" | "u" | "r" | "n" | "s" | "t" | "nt" | "u-long"
  }
gender = attribute gender { "m" | "f" | "n" }
gloss =
  attribute gloss {
    xsd:string { pattern = ".+" }
  }
