reader/feature-annotation/lexemes/pronouns.rnc

start = pronouns
pronouns = element pronouns { pronoun+ }
pronoun = element pronoun { lemma, type, gloss }
lemma =
  attribute lemma {
    xsd:string { pattern = ".+" }
  }
type =
  attribute type {
    "personal"
    | "possessive"
    | "interrogative"
    | "relative"
    | "'all'"
    | "indefinite"
    | "demonstrative"
  }
gloss =
  attribute gloss {
    xsd:string { pattern = ".+" }
  }
